<h1 class="title">Quizlet</h1>
{% extends "registration/base.html"%}

{% block content %}
<div class="container">
<div class="login-container">
  <div>Welcome Back to Quizlet</div>
  <form action="/registration/sign_in/" method="post" class="login-form">
  {% csrf_token %}
  <div class="input-div">
    <label>
      <input type="email" name="email" placeholder="Email">
    </label>
  </div>
  <div class="input-div">
    <label>
      <input type="password" name="password" placeholder="Password">
    </label>
    {% if login_error %}
    <div style="color: red; font-size: 12px;">Email or password is incorrect</div>
    {% endif %}
  </div>
  <button>Sign In</button>
</form>
<div id="or">or</div>
<a href="/registration/sign_up/" class="create-new-account">Create New Account</a>
</div>
</div>
{% endblock %}