#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #0a092d;
}

.side-drawer-container div{
  background-color: #0a092d;
  border: none;
}

.top-bar-container {
  background-color: white;
  z-index: 100;
  margin-top: 50px;
}