.is-open {
    display: flex;
    justify-content: baseline;
    margin-left: 15rem;
    color: white;
    transition: 0.3s ease;
}

.not-open {
    display: flex;
    justify-content: baseline;
    margin-left: 10rem;
    color: white;
    transition: 0.3s ease;
}

.library-content-container{
    margin-left: 10rem;
    transition: 0.3s ease;
}

.library-content-container-shifted {
    margin-left: 15rem;
    transition: 0.3s ease;
}